In [2]:
import pandas as pd
data = pd.read_csv("C:/Notes/DataSets/2. Cars Data.csv")
print(data)

      Make                    Model   Type  Origin DriveTrain      MSRP  \
0    Acura                      MDX    SUV    Asia        All  $36,945
1    Acura           RSX Type S 2dr  Sedan    Asia      Front  $23,820
2    Acura                  TSX 4dr  Sedan    Asia      Front  $26,990
3    Acura                   TL 4dr  Sedan    Asia      Front  $33,195
4    Acura               3.5 RL 4dr  Sedan    Asia      Front  $43,755
..     ...                      ...    ...     ...        ...       ...
427  Volvo  C70 LPT convertible 2dr  Sedan  Europe      Front  $40,565
428  Volvo  C70 HPT convertible 2dr  Sedan  Europe      Front  $42,565
429  Volvo               S80 T6 4dr  Sedan  Europe      Front  $45,210
430  Volvo                      V40  Wagon  Europe      Front  $26,135
431  Volvo                     XC70  Wagon  Europe        All  $35,145

      Invoice  EngineSize  Cylinders  Horsepower  MPG_City  MPG_Highway  \
0    $33,337          3.5        6.0       265.0      17.0         23.0
1    $21,761          2.0        4.0       200.0      24.0         31.0
2    $24,647          2.4        4.0       200.0      22.0         29.0
3    $30,299          3.2        6.0       270.0      20.0         28.0
4    $39,014          3.5        6.0       225.0      18.0         24.0
..        ...         ...        ...         ...       ...          ...
427  $38,203          2.4        5.0       197.0      21.0         28.0
428  $40,083          2.3        5.0       242.0      20.0         26.0
429  $42,573          2.9        6.0       268.0      19.0         26.0
430  $24,641          1.9        4.0       170.0      22.0         29.0
431  $33,112          2.5        5.0       208.0      20.0         27.0

     Weight  Wheelbase  Length
0    4451.0      106.0   189.0
1    2778.0      101.0   172.0
2    3230.0      105.0   183.0
3    3575.0      108.0   186.0
4    3880.0      115.0   197.0
..      ...        ...     ...
427  3450.0      105.0   186.0
428  3450.0      105.0   186.0
429  3653.0      110.0   190.0
430  2822.0      101.0   180.0
431  3823.0      109.0   186.0

[432 rows x 15 columns]

In [3]:
data.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0

In [4]:
data[(data.EngineSize == 3.5) | (data.EngineSize == 2.0)]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0
5,Acura,3.5 RL w/Navigation 4dr,Sedan,Asia,Front,"$46,100","$41,100",3.5,6.0,225.0,18.0,24.0,3893.0,115.0,197.0
76,Chevrolet,Malibu LS 4dr,Sedan,USA,Front,"$20,370","$18,639",3.5,6.0,200.0,22.0,30.0,3297.0,106.0,188.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,Suzuki,Forenza S 4dr,Sedan,Asia,Front,"$12,269","$12,116",2.0,4.0,119.0,24.0,31.0,2701.0,102.0,177.0
374,Suzuki,Forenza EX 4dr,Sedan,Asia,Front,"$15,568","$15,378",2.0,4.0,119.0,22.0,30.0,2756.0,102.0,177.0
406,Volkswagen,Golf GLS 4dr,Sedan,Europe,Front,"$18,715","$17,478",2.0,4.0,115.0,24.0,31.0,2897.0,99.0,165.0
411,Volkswagen,New Beetle GLS convertible 2dr,Sedan,Europe,Front,"$23,215","$21,689",2.0,4.0,115.0,24.0,30.0,3082.0,99.0,161.0
417,Volkswagen,Jetta GL,Wagon,Europe,Front,"$19,005","$17,427",2.0,4.0,115.0,24.0,30.0,3034.0,99.0,174.0

In [3]:
sum((data["Origin"]=="Asia") & (data["MPG_Highway"]== 23.0))

5

In [4]:
data[(data["Origin"]=="Asia") | (data["MPG_Highway"]== 23.0)]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
400,Toyota,MR2 Spyder convertible 2dr,Sports,Asia,Rear,"$25,130","$22,787",1.8,4.0,138.0,26.0,32.0,2195.0,97.0,153.0
401,Toyota,Tacoma,Truck,Asia,Rear,"$12,800","$11,879",2.4,4.0,142.0,22.0,27.0,2750.0,103.0,191.0
402,Toyota,Tundra Regular Cab V6,Truck,Asia,Rear,"$16,495","$14,978",3.4,6.0,190.0,16.0,18.0,3925.0,128.0,218.0
403,Toyota,Tundra Access Cab V6 SR5,Truck,Asia,All,"$25,935","$23,520",3.4,6.0,190.0,14.0,17.0,4435.0,128.0,218.0
404,Toyota,Matrix XR,Wagon,Asia,Front,"$16,695","$15,156",1.8,4.0,130.0,29.0,36.0,2679.0,102.0,171.0

In [5]:
sum(data["EngineSize"]==3.4)

12

In [6]:
data[(data["EngineSize"]==3.4)]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
49,Buick,Rendezvous CX,SUV,USA,Front,"$26,545","$24,085",3.4,6.0,185.0,19.0,26.0,4024.0,112.0,187.0
74,Chevrolet,Impala 4dr,Sedan,USA,Front,"$21,900","$20,095",3.4,6.0,180.0,21.0,32.0,3465.0,111.0,200.0
77,Chevrolet,Monte Carlo LS 2dr,Sedan,USA,Front,"$21,825","$20,026",3.4,6.0,180.0,21.0,32.0,3340.0,111.0,198.0
83,Chevrolet,Venture LS,Sedan,USA,Front,"$27,020","$24,518",3.4,6.0,185.0,19.0,26.0,3699.0,112.0,187.0
321,Oldsmobile,Alero GLS 2dr,Sedan,USA,Front,"$23,675","$21,485",3.4,6.0,170.0,20.0,29.0,3085.0,107.0,187.0
322,Oldsmobile,Silhouette GL,Sedan,USA,Front,"$28,790","$26,120",3.4,6.0,185.0,19.0,26.0,3948.0,120.0,201.0
323,Pontiac,Aztekt,SUV,USA,Front,"$21,595","$19,810",3.4,6.0,185.0,19.0,26.0,3779.0,108.0,182.0
325,Pontiac,Grand Am GT 2dr,Sedan,USA,Front,"$22,450","$20,595",3.4,6.0,175.0,20.0,29.0,3118.0,107.0,186.0
330,Pontiac,Montana,Sedan,USA,Front,"$23,845","$21,644",3.4,6.0,185.0,19.0,26.0,3803.0,112.0,187.0
331,Pontiac,Montana EWB,Sedan,USA,All,"$31,370","$28,454",3.4,6.0,185.0,18.0,24.0,4431.0,121.0,201.0
402,Toyota,Tundra Regular Cab V6,Truck,Asia,Rear,"$16,495","$14,978",3.4,6.0,190.0,16.0,18.0,3925.0,128.0,218.0
403,Toyota,Tundra Access Cab V6 SR5,Truck,Asia,All,"$25,935","$23,520",3.4,6.0,190.0,14.0,17.0,4435.0,128.0,218.0

In [11]:
data[(data["MPG_City"]== 19) & (data["Horsepower"] == 170)]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
178,Hyundai,Sonata GLS 4dr,Sedan,Asia,Front,"$19,339","$17,574",2.7,6.0,170.0,19.0,27.0,3217.0,106.0,187.0
179,Hyundai,Sonata LX 4dr,Sedan,Asia,Front,"$20,339","$18,380",2.7,6.0,170.0,19.0,27.0,3217.0,106.0,187.0

In [13]:
data[(data.Make == "Audi") & (data.EngineSize == 2.7)]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
16,Audi,A6 2.7 Turbo Quattro 4dr,Sedan,Europe,All,"$42,840","$38,840",2.7,6.0,250.0,18.0,25.0,3836.0,109.0,192.0

In [78]:
data[(data.Make == "Audi")]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
7,Audi,A4 1.8T 4dr,Sedan,Europe,Front,"$25,940","$23,508",1.8,4.0,170.0,22.0,31.0,3252.0,104.0,179.0
8,Audi,A41.8T convertible 2dr,Sedan,Europe,Front,"$35,940","$32,506",1.8,4.0,170.0,23.0,30.0,3638.0,105.0,180.0
9,Audi,A4 3.0 4dr,Sedan,Europe,Front,"$31,840","$28,846",3.0,6.0,220.0,20.0,28.0,3462.0,104.0,179.0
10,Audi,A4 3.0 Quattro 4dr manual,Sedan,Europe,All,"$33,430","$30,366",3.0,6.0,220.0,17.0,26.0,3583.0,104.0,179.0
11,Audi,A4 3.0 Quattro 4dr auto,Sedan,Europe,All,"$34,480","$31,388",3.0,6.0,220.0,18.0,25.0,3627.0,104.0,179.0
12,Audi,A6 3.0 4dr,Sedan,Europe,Front,"$36,640","$33,129",3.0,6.0,220.0,20.0,27.0,3561.0,109.0,192.0
13,Audi,A6 3.0 Quattro 4dr,Sedan,Europe,All,"$39,640","$35,992",3.0,6.0,220.0,18.0,25.0,3880.0,109.0,192.0
14,Audi,A4 3.0 convertible 2dr,Sedan,Europe,Front,"$42,490","$38,325",3.0,6.0,220.0,20.0,27.0,3814.0,105.0,180.0
15,Audi,A4 3.0 Quattro convertible 2dr,Sedan,Europe,All,"$44,240","$40,075",3.0,6.0,220.0,18.0,25.0,4013.0,105.0,180.0
16,Audi,A6 2.7 Turbo Quattro 4dr,Sedan,Europe,All,"$42,840","$38,840",2.7,6.0,250.0,18.0,25.0,3836.0,109.0,192.0
17,Audi,A6 4.2 Quattro 4dr,Sedan,Europe,All,"$49,690","$44,936",4.2,8.0,300.0,17.0,24.0,4024.0,109.0,193.0
18,Audi,A8 L Quattro 4dr,Sedan,Europe,All,"$69,190","$64,740",4.2,8.0,330.0,17.0,24.0,4399.0,121.0,204.0
19,Audi,S4 Quattro 4dr,Sedan,Europe,All,"$48,040","$43,556",4.2,8.0,340.0,14.0,20.0,3825.0,104.0,179.0
20,Audi,RS 6 4dr,Sports,Europe,Front,"$84,600","$76,417",4.2,8.0,450.0,15.0,22.0,4024.0,109.0,191.0
21,Audi,TT 1.8 convertible 2dr (coupe),Sports,Europe,Front,"$35,940","$32,512",1.8,4.0,180.0,20.0,28.0,3131.0,95.0,159.0
22,Audi,TT 1.8 Quattro 2dr (convertible),Sports,Europe,All,"$37,390","$33,891",1.8,4.0,225.0,20.0,28.0,2921.0,96.0,159.0
23,Audi,TT 3.2 coupe 2dr (convertible),Sports,Europe,All,"$40,590","$36,739",3.2,6.0,250.0,21.0,29.0,3351.0,96.0,159.0
24,Audi,A6 3.0 Avant Quattro,Wagon,Europe,All,"$40,840","$37,060",3.0,6.0,220.0,18.0,25.0,4035.0,109.0,192.0
25,Audi,S4 Avant Quattro,Wagon,Europe,All,"$49,090","$44,446",4.2,8.0,340.0,15.0,21.0,3936.0,104.0,179.0

In [82]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 432 entries, 0 to 431
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Make         428 non-null    object
 1   Model        428 non-null    object
 2   Type         428 non-null    object
 3   Origin       428 non-null    object
 4   DriveTrain   428 non-null    object
 5   MSRP         428 non-null    object
 6   Invoice      428 non-null    object
 7   EngineSize   428 non-null    float64
 8   Cylinders    426 non-null    float64
 9   Horsepower   428 non-null    float64
 10  MPG_City     428 non-null    float64
 11  MPG_Highway  428 non-null    float64
 12  Weight       428 non-null    float64
 13  Wheelbase    428 non-null    float64
 14  Length       428 non-null    float64
dtypes: float64(8), object(7)
memory usage: 50.8+ KB

In [85]:
data.describe()

,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
count,428.000000,426.000000,428.000000,428.000000,428.000000,428.000000,428.000000,428.000000
mean,3.196729,5.807512,215.885514,20.060748,26.843458,3577.953271,108.154206,186.362150
std,1.108595,1.558443,71.836032,5.238218,5.741201,758.983215,8.311813,14.357991
min,1.300000,3.000000,73.000000,10.000000,12.000000,1850.000000,89.000000,143.000000
25%,2.375000,4.000000,165.000000,17.000000,24.000000,3104.000000,103.000000,178.000000
50%,3.000000,6.000000,210.000000,19.000000,26.000000,3474.500000,107.000000,187.000000
75%,3.900000,6.000000,255.000000,21.250000,29.000000,3977.750000,112.000000,194.000000
max,8.300000,12.000000,500.000000,60.000000,66.000000,7190.000000,144.000000,238.000000

In [34]:
sum(data["MPG_City"] < 22.0)

321

In [35]:
data.isnull()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
428,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
429,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
430,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
431,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [24]:
data.describe()

,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
count,428.000000,426.000000,428.000000,428.000000,428.000000,428.000000,428.000000,428.000000
mean,3.196729,5.807512,215.885514,20.060748,26.843458,3577.953271,108.154206,186.362150
std,1.108595,1.558443,71.836032,5.238218,5.741201,758.983215,8.311813,14.357991
min,1.300000,3.000000,73.000000,10.000000,12.000000,1850.000000,89.000000,143.000000
25%,2.375000,4.000000,165.000000,17.000000,24.000000,3104.000000,103.000000,178.000000
50%,3.000000,6.000000,210.000000,19.000000,26.000000,3474.500000,107.000000,187.000000
75%,3.900000,6.000000,255.000000,21.250000,29.000000,3977.750000,112.000000,194.000000
max,8.300000,12.000000,500.000000,60.000000,66.000000,7190.000000,144.000000,238.000000

In [19]:
Sedan_Engine=data[(data["Type"] == "Sedan") & (data["EngineSize"]== 2.0)]
Sedan_Engine

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
108,Dodge,Neon SE 4dr,Sedan,USA,Front,"$13,670","$12,849",2.0,4.0,132.0,29.0,36.0,2581.0,105.0,174.0
109,Dodge,Neon SXT 4dr,Sedan,USA,Front,"$15,040","$14,086",2.0,4.0,132.0,29.0,36.0,2626.0,105.0,174.0
124,Ford,Focus ZX3 2dr hatch,Sedan,USA,Front,"$13,270","$12,482",2.0,4.0,130.0,26.0,33.0,2612.0,103.0,168.0
125,Ford,Focus LX 4dr,Sedan,USA,Front,"$13,730","$12,906",2.0,4.0,110.0,27.0,36.0,2606.0,103.0,168.0
126,Ford,Focus SE 4dr,Sedan,USA,Front,"$15,460","$14,496",2.0,4.0,130.0,26.0,33.0,2606.0,103.0,168.0
127,Ford,Focus ZX5 5dr,Sedan,USA,Front,"$15,580","$14,607",2.0,4.0,130.0,26.0,33.0,2691.0,103.0,168.0
128,Ford,Focus SVT 2dr,Sedan,USA,Front,"$19,135","$17,878",2.0,4.0,170.0,21.0,28.0,2750.0,103.0,168.0
163,Honda,Civic Si 2dr hatch,Sedan,Asia,Front,"$19,490","$17,849",2.0,4.0,160.0,26.0,30.0,2782.0,101.0,166.0
175,Hyundai,Elantra GLS 4dr,Sedan,Asia,Front,"$13,839","$12,781",2.0,4.0,138.0,26.0,34.0,2635.0,103.0,178.0
176,Hyundai,Elantra GT 4dr,Sedan,Asia,Front,"$15,389","$14,207",2.0,4.0,138.0,26.0,34.0,2635.0,103.0,178.0
177,Hyundai,Elantra GT 4dr hatch,Sedan,Asia,Front,"$15,389","$14,207",2.0,4.0,138.0,26.0,34.0,2698.0,103.0,178.0
245,Mazda,Mazda3 i 4dr,Sedan,Asia,Front,"$15,500","$14,525",2.0,4.0,148.0,26.0,34.0,2696.0,104.0,178.0
293,Mitsubishi,Lancer ES 4dr,Sedan,Asia,Front,"$14,622","$13,751",2.0,4.0,120.0,25.0,31.0,2656.0,102.0,181.0
294,Mitsubishi,Lancer LS 4dr,Sedan,Asia,Front,"$16,722","$15,718",2.0,4.0,120.0,25.0,31.0,2795.0,102.0,181.0
296,Mitsubishi,Lancer OZ Rally 4dr auto,Sedan,Asia,Front,"$17,232","$16,196",2.0,4.0,120.0,25.0,31.0,2744.0,102.0,181.0
341,Saab,9-3 Arc Sport 4dr,Sedan,Europe,Front,"$30,860","$29,269",2.0,4.0,210.0,20.0,28.0,3175.0,105.0,183.0
342,Saab,9-3 Aero 4dr,Sedan,Europe,Front,"$33,360","$31,562",2.0,4.0,210.0,20.0,28.0,3175.0,105.0,183.0
345,Saab,9-3 Arc convertible 2dr,Sedan,Europe,Front,"$40,670","$38,520",2.0,4.0,210.0,21.0,29.0,3480.0,105.0,182.0
346,Saab,9-3 Aero convertible 2dr,Sedan,Europe,Front,"$43,175","$40,883",2.0,4.0,210.0,21.0,30.0,3700.0,105.0,182.0
373,Suzuki,Forenza S 4dr,Sedan,Asia,Front,"$12,269","$12,116",2.0,4.0,119.0,24.0,31.0,2701.0,102.0,177.0
374,Suzuki,Forenza EX 4dr,Sedan,Asia,Front,"$15,568","$15,378",2.0,4.0,119.0,22.0,30.0,2756.0,102.0,177.0
406,Volkswagen,Golf GLS 4dr,Sedan,Europe,Front,"$18,715","$17,478",2.0,4.0,115.0,24.0,31.0,2897.0,99.0,165.0
411,Volkswagen,New Beetle GLS convertible 2dr,Sedan,Europe,Front,"$23,215","$21,689",2.0,4.0,115.0,24.0,30.0,3082.0,99.0,161.0

In [23]:
Sedan_Engine

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
108,Dodge,Neon SE 4dr,Sedan,USA,Front,"$13,670","$12,849",2.0,4.0,132.0,29.0,36.0,2581.0,105.0,174.0
109,Dodge,Neon SXT 4dr,Sedan,USA,Front,"$15,040","$14,086",2.0,4.0,132.0,29.0,36.0,2626.0,105.0,174.0
124,Ford,Focus ZX3 2dr hatch,Sedan,USA,Front,"$13,270","$12,482",2.0,4.0,130.0,26.0,33.0,2612.0,103.0,168.0
125,Ford,Focus LX 4dr,Sedan,USA,Front,"$13,730","$12,906",2.0,4.0,110.0,27.0,36.0,2606.0,103.0,168.0
126,Ford,Focus SE 4dr,Sedan,USA,Front,"$15,460","$14,496",2.0,4.0,130.0,26.0,33.0,2606.0,103.0,168.0
127,Ford,Focus ZX5 5dr,Sedan,USA,Front,"$15,580","$14,607",2.0,4.0,130.0,26.0,33.0,2691.0,103.0,168.0
128,Ford,Focus SVT 2dr,Sedan,USA,Front,"$19,135","$17,878",2.0,4.0,170.0,21.0,28.0,2750.0,103.0,168.0
163,Honda,Civic Si 2dr hatch,Sedan,Asia,Front,"$19,490","$17,849",2.0,4.0,160.0,26.0,30.0,2782.0,101.0,166.0
175,Hyundai,Elantra GLS 4dr,Sedan,Asia,Front,"$13,839","$12,781",2.0,4.0,138.0,26.0,34.0,2635.0,103.0,178.0
176,Hyundai,Elantra GT 4dr,Sedan,Asia,Front,"$15,389","$14,207",2.0,4.0,138.0,26.0,34.0,2635.0,103.0,178.0
177,Hyundai,Elantra GT 4dr hatch,Sedan,Asia,Front,"$15,389","$14,207",2.0,4.0,138.0,26.0,34.0,2698.0,103.0,178.0
245,Mazda,Mazda3 i 4dr,Sedan,Asia,Front,"$15,500","$14,525",2.0,4.0,148.0,26.0,34.0,2696.0,104.0,178.0
293,Mitsubishi,Lancer ES 4dr,Sedan,Asia,Front,"$14,622","$13,751",2.0,4.0,120.0,25.0,31.0,2656.0,102.0,181.0
294,Mitsubishi,Lancer LS 4dr,Sedan,Asia,Front,"$16,722","$15,718",2.0,4.0,120.0,25.0,31.0,2795.0,102.0,181.0
296,Mitsubishi,Lancer OZ Rally 4dr auto,Sedan,Asia,Front,"$17,232","$16,196",2.0,4.0,120.0,25.0,31.0,2744.0,102.0,181.0
341,Saab,9-3 Arc Sport 4dr,Sedan,Europe,Front,"$30,860","$29,269",2.0,4.0,210.0,20.0,28.0,3175.0,105.0,183.0
342,Saab,9-3 Aero 4dr,Sedan,Europe,Front,"$33,360","$31,562",2.0,4.0,210.0,20.0,28.0,3175.0,105.0,183.0
345,Saab,9-3 Arc convertible 2dr,Sedan,Europe,Front,"$40,670","$38,520",2.0,4.0,210.0,21.0,29.0,3480.0,105.0,182.0
346,Saab,9-3 Aero convertible 2dr,Sedan,Europe,Front,"$43,175","$40,883",2.0,4.0,210.0,21.0,30.0,3700.0,105.0,182.0
373,Suzuki,Forenza S 4dr,Sedan,Asia,Front,"$12,269","$12,116",2.0,4.0,119.0,24.0,31.0,2701.0,102.0,177.0
374,Suzuki,Forenza EX 4dr,Sedan,Asia,Front,"$15,568","$15,378",2.0,4.0,119.0,22.0,30.0,2756.0,102.0,177.0
406,Volkswagen,Golf GLS 4dr,Sedan,Europe,Front,"$18,715","$17,478",2.0,4.0,115.0,24.0,31.0,2897.0,99.0,165.0
411,Volkswagen,New Beetle GLS convertible 2dr,Sedan,Europe,Front,"$23,215","$21,689",2.0,4.0,115.0,24.0,30.0,3082.0,99.0,161.0